.Electronics{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Elecronics__image{
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to top, transparent 1%, black 5%);
}
.Electronics__store{
    font-family: Algerian;
    font-size: 40px;
    background-color: rgb(6, 3, 7);
    color: white;
    width: 100%;
    text-align: center;
}
.Electronics__row1 {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -25px;
  }
.Electronics__row2{
    width: 90%;
    display: flex;
}
.Electronics__row3{
    width: 80%;
    display: flex;
}
.Electronics__row4{
    width: auto;
    display: flex;
}